<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1" >
	<test name="GUIFunctionalTest">
		<classes>
			<!-- Add a "class" element for each class containing tests (@Test, @BeforeXxxx 
				and @AfterXxxx Methods) -->
			<class name="com.fip.conf.GUIFunctionalTest">
				<methods>
					<exclude name="shouldAddNewSrcDirPathInModelWhenClickingAddButton" />
					<exclude name="shouldAddExistingSrcDirPathInModelWhenClickingAddButton" />
					<exclude name="shouldAddNewTgtDirPathInModelWhenClickingAddButton" />
					<exclude name="shouldAddExistingTgtDirPathInModelWhenClickingAddButton" />
					<exclude name="shouldCancelAddNewSrcDirPathInModelWhenClickingAddThenCancelButtons" />
					<include name="shouldChangeSrcDirPathInModelWhenClickingChangeButton" />
					<include name="shouldChangeTgtDirPathInModelWhenClickingChangeButton" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
